body{
  background-image: url(attendance.png);
  background-repeat: no-repeat;
  background-size:cover ;
}
body h1{
  text-align: center;
  color: #000000;
}
.container {
  border-radius: 10px;
  background-color: rgba(83, 77, 77, 0.434);
  width: 300px;
  margin: 0 auto;
  border: 1px solid #827a7a;
  padding: 20px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}


.container form {
  display:block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: rgb(240, 42, 12);
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  background-color: #dab076;
}

a.cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ed6e34;
  color: #080808;
  text-decoration: none;
  border-radius: 4px;
}

a.cta:hover {
  background-color: #dab076;
}
